.modal {
    width: 100%;
    margin: 0 auto;
    font-size: 2.2rem; /* 22px */
  }
  .modal.contact a{
    color: var(--dark-gray);
  }
  .modal.contact a:hover{
    color: var(--cool-orange);
  }
  div.modal-header {
    background-color: var(--main-color);
    color: var(--white);
    
  }
  div.modal-title {
    font-size: 2rem; /* 20px */
    font-weight: bold;
  }
  div.modal-body {
    padding: 0 30px 30px 30px;
  }
  button.btn-close { /*Styling for the close button*/
    background-color: var(--white);
    opacity: 1;
  }
  div.modal-body > p {
    line-height: 100%;
    margin-top: 30px;
  }
  .minus {
    margin-bottom: -10px;
  }
  .form-group input, .form-group textarea {
    font-size: 2.2rem; /* 20px */
  }
  textarea.form-control {
    resize: none;
  }
  button.contact {
    font-size: 2rem;
    background-color: var(--cool-orange) !important;
    border: none;
  }
  button.contact > p {
    color: white;
    font-weight: bold;
    transform: translateY(5px);
  }