.footer {
    background-color: var(--light-black);

    position: fixed;
    bottom: 0;
    width: 100%;
}
.footer > p {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: bold;
}
.footer a {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--white);
    text-decoration: none;
    transition: 0.2s;
}
.footer a:hover {
    color: var(--main-color);
    text-decoration: underline;
}
.social a {
    padding: 0 70px;
}
.social a svg {
    transition: 0.3s;
    color: var(--white);
}
.social a:hover svg {
    color: var(--main-color);
    transform: rotate(15deg) translateY(-2px);
}

.about-icon svg{
    transform: translateY(-2px);
}
/*~ Tablet variant <-----------------------------------------------------------------------*/
@media (max-width: 768px) {
    .social a {
        padding: 0 40px;
    }
}

/*~ Phone variant <-----------------------------------------------------------------------*/
@media (max-width: 600px) {
    .social a {
        padding: 0 20px;
    }

    .footer > p {
        font-weight: normal;
    }

    .footer a {
        font-weight: normal;
    }
}