.hidden {
    display: none;
}

.info-container {
    text-align: center;
    font-size: 1.6rem;
    font-weight: 600;
    max-width: 350px;
    margin: auto;
    position: relative;
}

.info-container svg{
    width: 30px;
    height: 30px;
}

.delete:hover{
    color: var(--cool-orange);
    transition: 0.3s;
}

.info-container .delete{
    position: absolute;
    right: 0;
} 