div.recipe-container {
    width: 100%;
    background-color: var(--main-color);
    min-height: 150px;
    border-radius: 5px;
}

.recipe-container p {
    font-size: 2rem;
    font-weight: 600;
    color: white;
    padding: 0 10%;
    line-height: 90%;
}

.recipe-container hr {
    width: 90%;
    margin: 0 auto;
    background-color: white;
    height: 4px;
    opacity: 1;
    border: solid white;
    border-radius: 5px;
    transform: translateY(-6px);
}
.recipe-container .body-p {
    font-size: 1.6rem;
    line-height: 100%;
    color: var(--ligth-black);
}



.loading-r-animation > div {
    width: 15px;
    height: 15px;
    margin-right: 6px;
    background-color: var(--cool-orange);
    border-radius: 50%;
    margin-bottom: 4px;
    margin-top: 3px;
}
.loading-r-animation {
    padding-left: 0;
    padding-top: 5px;
}
.loading-r-animation.animate div:nth-child(1) {
    animation: animate 1.8s 0.6s ease-in-out infinite;
}
.loading-r-animation.animate  div:nth-child(2) {
    animation: animate 1.8s 0.4s ease-in-out infinite;
}
.loading-r-animation.animate  div:nth-child(3) {
    animation: animate 1.8s 0.2s ease-in-out infinite;
}
.loading-r-animation.animate  div:nth-child(4) {
    animation: animate 1.8s ease-in-out infinite;
}
@keyframes animate {
    0% { 
        transform: translateX(0px); 
    }
    100% { 
        transform: translateX(110px) scale(0.4); 
        opacity: 0;
    }
}