div.saved-container {
    width: 100%;
    background-color: var(--secondary-color);
    min-height: 100px;
    border-radius: 5px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p.empty-p {
    font-size: 2rem;
    font-weight: 700;
    width: 240px;
    text-align: center;
}
.saved-item-container{
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: space-around;
    padding: 0 5%;
    user-select: none;
}
.saved-item {
    margin-top: 12px;
    padding-top: 4px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
    font-weight: 600;
    cursor: pointer;
}
.saved-item-container p {
    font-size: 1.6rem;
    font-weight: 500;
    margin-top: 4px;
    line-height: 90%;
    transform: translateX(-25%);
    width: 100px;
    overflow-wrap: break-word;
}
.save-animation {
    animation: save-animate 0.5s ease-in-out forwards;
}
@keyframes save-animate  {
    0% { 
        transform: scale(0%); 
    }
    100% { 
        transform: scale(100%);
    }
}

/*~ Tablet variant <-----------------------------------------------------------------------*/
@media (max-width: 768px) {
    .saved-item-container p {
        width: 75px;
        transform: translateX(-15%);
    }
}

/*~ Phone variant <-----------------------------------------------------------------------*/
@media (max-width: 600px) {
    .saved-item-container p {
        width: 50px;
        transform: translateX(-6%);
    }
}

/*~ Small Phone variant <-----------------------------------------------------------------------*/
@media (max-width: 300px) {
    .saved-item-container p {
        width: 40px;
        font-size: 1.3rem;
        transform: translateX(9%);
    }
}