/*1? Setting the rem size and getting rid of the default styling*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} 

html {
  font-size: 62.5%; /*1? Each rem is equal to 10px*/
}

.main-container {
  display: flex;
  flex-direction: column;
}